.card {
    background-color: rgb(212, 233, 245);
    border-radius: 30px;
    color: rgb(211, 66, 66);
    width: 300px;
    text-align: center;
    padding-top: 25px;
}

.cardPhoto {
    width: 250px;
    border-radius: 30px;
}

.containerCard {
    display: flex;
    justify-content: space-evenly;
    line-height: 10px;
    flex-wrap: wrap;       
}
